body{
    font-family: 'Montserrat', sans-serif;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10vh;
}

caption{
    margin-bottom: 5vh;
}

th, td{
    border: 0.5px solid;
    padding: 5px;
}

tbody tr:nth-child(odd){
    background-color: rgb(202, 199, 199);
}

tbody tr:nth-child(even){
    background-color: whitesmoke;
}

